{% import "core/macros.twig" as core %}
<html>
    <head>
        <title>404 Not Found</title>
        {{ core.css("www-core") }}
        {{ core.css("www-error") }}
        {{ core.css("www-pageframe") }}
        <style name="www-roboto">@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}</style>
        {% if yt.config.appearance.modernLogo %}
        {% include 'experiment/ringo/ringo.twig' %}
        {% endif %}
    </head>
    <body class="{{ yt.config.appearance.modernLogo ? "exp-invert-logo" }}">
        <div id="error-page">
            <div id="error-page-content">
                <img src="/yts/img/ringo/img/image-hh-404-vflP3hqNT.png" alt="" id="error-page-hh-illustration">
                <p>This page isn't available. Sorry about that.</p>
                <p>Try searching for something else.</p>
            </div>
            <span id="error-page-vertical-align"></span>
        </div>
        {{ core.js("www-notfound/www-notfound") }}
        <script>
            yt.setConfig({'SBOX_JS_URL': "{{ jsPath("www-searchbox/www-searchbox", ytConstants) }}",'SBOX_SETTINGS': {"REQUEST_DOMAIN": "us", "REQUEST_LANGUAGE": "en", "HAS_ON_SCREEN_KEYBOARD": false},'SBOX_LABELS': {"SUGGESTION_DISMISS_LABEL": "Dismiss", "SUGGESTION_DISMISSED_LABEL": "Suggestion dismissed"}});
            yt.www.notfound.init();
          </script>
    </body>
</html>